
:root {
    font-family: 'Rock Salt', cursive;
    max-width: 100vw;
    min-width: 50vw;
    max-height: 80vh;
    min-height: 50vh;
    background-color: black;
    display: flexbox;
    /* position: relative; */
    
    
}
body{
    text-align: center;
}

#letterBank {
    display: inline-block;
    row-gap: 1;  
}
#guesswordcontainer{
      padding-top: 20%;
      text-align: center;
  }
  .still {
    color: white;
  }
  #blink {
    animation: blink 3s infinite;
    color: tomato;
  }
  h1{
    animation: blink 3s infinite;
    color: tomato;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
      transform: scale(2);
    }
    51% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  h1{
      font-style: bold;
  }
  h2{
      text-decoration: underline;
      text-decoration-style: wavy;
  }
  h3{
      float: right;
      padding-top: 10%;
      padding-right: 5%;
  }
  h4{
      float: left;
      padding-top: 10%;
      padding-left: 5%;
  }
  /* #guesswordcontainer{
    text-align: center;
    display: flexbox;
  } */
  .buttonstyle{
      color: coral;
      margin: 1%;
      background-color: black;
      padding: 15px; ;
      font-size: 11px;
      border-radius: 75%;
      box-shadow: mediumvioletred;
      transform: scale(1.1);
      cursor: crosshair;
      font-family: 'Rock Salt', cursive;;

      
  }
  
  #reset{
      margin-bottom: 5%;
  }
@media (max-width: 100px){
body{
    background-color: white;
    color: black; 
    display: inline-flexbox;
}
.buttonstyle{
    display: inline-flexbox;
}
}
